#contact {
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

#contact .contact-box {
    background-image: url(../../img/footer-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact .contact-box .contact-content {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

#contact .contact-box .contact-content .text {
    padding: 60px;
    width: 70%;
}

#contact .contact-box .contact-content h2 {
    font-size: 34px;
    font-weight: 700;
}

#contact .contact-box .contact-content p {
    display: block;
    font-size: 19px;
    font-weight: 500;
}

#contact .form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .form-control {
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 5px;
    background: rgba(255, 255, 255, .03);
    border-color: rgba(255, 255, 255, .1);
    color: #fff !important;
}

#contact .input-group {
    position: relative;
}

#contact .form-control:focus {
    box-shadow: none !important;
}

#contact .form-control::placeholder {
    color: #fff !important;
}

#contact .form-control:focus .floating-label {
    font-size: 10px;
    top: 0px;
    left: 0px;
}

#contact .input-group-text {
    background: #747ed1;
    color: #fff;
    border: none;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width:992px){
    #contact .contact-box .contact-content {
        display: block;
    }
    #contact .contact-box .contact-content .text {
        padding: 10px;
        width: initial;
    }
}