#choose {
    padding-top: 50px;
    padding-bottom: 50px;
}

#choose img {
    width: 100%;
    height: auto;
}

#choose .choose-div {
    display: flex;
}

#choose .choose-content {
    display: table;
    width: initial;
    margin: auto;
    margin-left: 20px;
    padding: 50px;
    text-align: left;
}

#choose h2 {
    color: #343f52;
    font-weight: 700;
}

#choose .choose-p {
    font-size: 19px;
    margin-bottom: 20px;
    line-height: 1.5;
}

#choose .choose-p-2 {
    font-size: 17px;
    font-weight: 500;
}

#choose .icon {
    text-decoration: none;
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 15px;
    line-height: 15px;
    padding: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top:8px;
    border-radius: 50%;
    background-color: #e6e8f7;
    color: #343f52;
}
#choose .preferencs-div>p {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
}

@media screen and (max-width:992px) {
    .choose-content {
        padding: 20px !important;
    }
}