#choose {
    padding-top: 50px;
    padding-bottom: 50px;
}

#choose img {
    width: 100%;
    height: auto;
}

#choose .choose-content {
    padding: 50px;
    text-align: left;
}

#choose .choose-content h2 {
    font-size: 25;
    color: #343f52;
    font-weight: 700;
}

#choose .choose-content p {
    font-size: 19px;
    margin-bottom: 20px !important;
    line-height: 1.5;
}

.accordion-item {
    border: none !important;
    border-radius: 0px;
}

.accordion-item {
    background-color: transparent !important;
}

.accordion-button {
    background-color: transparent !important;
    font-size: 20px;
    color: #343f52;
    font-weight: 700;
}

.accordion-button:hover {
    color: #747ed1 !important;
}

.accordion-button h2 button {
    font-size: 20;
    color: #343f52;
    font-weight: 700;
}

.accordion-button:focus {
    border: none !important;
    box-shadow: none !important;
}

.accordion-body p {
    font-size: 15px !important;
    margin-bottom: 20px !important;
    line-height: 1.5;
    color: #343f52;
}

.accordion-button:not(.collapsed) {
    color: #343f52 !important;
}