#slider {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#slider h2 {
    color: #343f52;
    font-weight: 700;
}

#slider .my-slider {
    margin-top: 50px;
}

#slider .my-slider .item {
    position: relative;
}

#slider .my-slider img {
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.tns-nav {
    display: none;
}

.tns-visually-hidden {
    display: none;
}

.tns-nav button:nth-child(odd) {
    margin-left: 5px;
}

.tns-nav button:nth-child(even) {
    margin-left: 5px;
}

[data-action="stop"] {
    display: none !important;
}

.tns-nav button {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    background-color: #2f3e57 !important;
    border: 1px solid #fff;
}

.tns-nav button:hover {
    background-color: #4b6188 !important;
    border: 1px solid transparent;
}

#slider .my-slider .search {
    position: relative;
}

#slider .my-slider .icon-search {
    position: absolute;
    bottom: 0;
    top: 20px;
    right: 20px;
    text-decoration: none;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 30px;
    color: #747ed1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #e9eaf8;
    margin-bottom: 20px;
    border-radius: 50%;
    opacity: 0;
    transition: 0.4s;
}

#slider .my-slider .item:hover .icon-search {
    opacity: 1 !important;
}

@media screen and (max-width:992px) {
    .tns-nav {
        display: none !important;
    }
}